<div id="page-wrapper" ng-class="{'active':toggle}" class="active">
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main">
        <a href="#">Home</a>
      </li>
      <li class="sidebar-list">
        <a ng-href="/#/projects">Projects</a>
      </li>

      <li class="sidebar-list">
        <a ng-href="/#/users">Users</a>
      </li>
    </ul>
  </div>
  <div class="central-content-div">
    <h1>
      Welcome to the Angular Couch Demo
    </h1>
    <p class="lead">
      This is a demo application for a web interface on top of Couch DB
      <br/>
      The front end part is created using Angular JS
    </p>
  </div>
</div>
