<div id="page-wrapper" ng-class="{'active':toggle}" class="active">
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main">
        <a href="#">Home</a>
      </li>
      <li class="sidebar-list">
        <a ng-href="/#/tasks">My Tasks</a>
      </li>
      <li class="sidebar-list">
        <a ng-href="{{'#/' + location}}" ng-click="linkClicked()">My Profile</a>
      </li>
    </ul>
  </div>
  <div class="central-content-div" ng-if="document == undefined">
    <h1>
      Welcome to the Angular Couch Demo
    </h1>
    <p class="lead">
      This is a demo application for a web interface on top of Couch DB
      <br/>
      The front end part is created using Angular JS
    </p>
  </div>
  <div class="central-content-div" ng-if="document != undefined">
    <form class="form-signin">
      <h3>Edit User Profile View</h3>

      <p><b>Username:</b>
        {{document._id}}
      </p>
      <label>Your email:</label>
      <input class="form-control" type="text" ng-model="document.email">
      <label>Full Name:</label>
      <input class="form-control" type="text" ng-model="document.fullName">
      <br>
      <label>Your Password:</label>
      <input class="form-control" type="text" ng-model="document.password">
      <br>
      <label>Avatar:</label>

      <div>
        <div ng-repeat="(key, value) in document._attachments">
          <img ng-src="{{couchServerUrl + 'users/' + document._id + '/' + key}}">
        </div>
      </div>
      <br>
      <input class="form-control" type="file" name="file" onchange="angular.element(this).scope().file = this.files[0]"/>
      <br>
      <button class="btn btn-lg btn-primary btn-block" ng-click="uploadFile()">Upload</button>
      <button class="btn btn-lg btn-primary btn-block" ng-click="updateDoc()">Update</button>
    </form>

  </div>
